/*CSS Edit attempt*/
.edit.controller.custom{
    /* The background image is basically the base for the controller's skin. The 
    PS3 controller's skin can be found at http://mrmcpowned.com/gamepad/ps3-assets/base.png
    and you can observe it as an example. The sticks, buttons, and directional arrows are missing
    because their appropriate elements will be incorperated when their styling is defined below.
    The entirity of the skin's visual styling is done via background images and CSS sprites.*/  
    background: url("https://i.imgur.com/A8bVL99.jpg"); 
    height: 2497px;
    width: 3359px;
}