/*
Tekken Inputs Styling NORMAL VER. by Peter Lawrence https://steamcommunity.com/id/PeterLawrence/
NORMAL VER. https://gamepadviewer.com/?p=1&s=7&editcss=https://dl.dropbox.com/s/la07n6iv3w7tkqq/my-fight-stick.css#
PETER'S CONFIG. https://gamepadviewer.com/?p=1&s=7&map=%7B%22mapping%22%3A%5B%7B%22targetType%22%3A%22buttons%22%2C%22target%22%3A%226%22%2C%22disabled%22%3Afalse%2C%22choiceType%22%3A%22buttons%22%2C%22choice%22%3A%227%22%7D%2C%7B%22targetType%22%3A%22buttons%22%2C%22target%22%3A%227%22%2C%22disabled%22%3Afalse%2C%22choiceType%22%3A%22buttons%22%2C%22choice%22%3A%227%22%7D%5D%7D&editcss=https://dl.dropbox.com/s/9rqi5o15z9ginqp/my-fight-stick-peters-config.css#
*/

/*I should really host these files somewhere other than Dropbox...
It would've been nice to have used svgz vectors for the graphics but Dropbox can't direct link them like it can with pngs.*/
.controller.fight-stick { background: url(https://dl.dropboxusercontent.com/s/gzi83rhqh7rofyf/base_4.png) center no-repeat; }
.fight-stick.disconnected { background: url(https://gamepadviewer.com/stick-assets/disconnected.svgz) no-repeat; }

/*RB = X + B config*/
/*.fight-stick .triggers { width: 279px; height: 88px; right: 217px; bottom: 277px;}*/
/*.fight-stick .trigger-button.left { background: #bb2f4f; bottom: -105px; right: 73px; }*/
/*.fight-stick .trigger-button.right { background: #18a3c3; top: 217px; left: 45px; }*/


/*Rage Art*/
.fight-stick .bumpers , 
.fight-stick .bumper {
	width: 128px;
	height: 128px;
	right: 152px;
	top: 141px;
	border-radius: 0%;
	background: url(https://dl.dropboxusercontent.com/s/4nf4iecpy1fvbzv/rageart.png);
	}

/*Face Buttons*/
.fight-stick .a { bottom: 56px; left: 154px; }
.fight-stick .b { bottom: 69px; right: -50px; }
.fight-stick .x { top: 108px; left: 154px; }
.fight-stick .y { right: -50px; top: 93px; }

.fight-stick .button.a.pressed  { background: #60a94f; }
.fight-stick .button.b.pressed  { background: #bb2f4f; }
.fight-stick .button.x.pressed  { background: #18a3c3; }
.fight-stick .button.y.pressed  { background: #d9bf2c; }

/*Movement Inputs*/
.fight-stick .fstick {
	width: 218px;
	height: 218px;
	top: 158px;
	left: 365px;
	background: url(https://dl.dropboxusercontent.com/s/zjfwgybevxv5qp5/stick_new.png);
	transform: scale(0.5);
	transform-origin: left;
	}

.fight-stick .fstick.up,
.fight-stick .fstick.down,
.fight-stick .fstick.left,
.fight-stick .fstick.right,
.fight-stick .fstick.up.right,
.fight-stick .fstick.up.left,
.fight-stick .fstick.down.right,
.fight-stick .fstick.down.left {
	background-position-x: -218px;
	width: 327px;
	left: 415px;
	}

.fight-stick .fstick.up 			{ transform: scale(0.5) rotate(270deg); }
.fight-stick .fstick.down 		{ transform: scale(0.5) rotate(90deg); }
.fight-stick .fstick.left 		{ transform: scale(0.5) rotate(180deg); }
.fight-stick .fstick.right 		{ transform: scale(0.5) rotate(0deg); }
.fight-stick .fstick.up.right 	{ transform: scale(0.5) rotate(315deg); }
.fight-stick .fstick.up.left 	{ transform: scale(0.5) rotate(225deg); }
.fight-stick .fstick.down.right 	{ transform: scale(0.5) rotate(45deg); }
.fight-stick .fstick.down.left 	{ transform: scale(0.5) rotate(135deg); }

/*Essential Tweaks*/
.fight-stick .button,
.fight-stick .trigger-button {
	width: 98px;
	height: 98px;
	background: #424c4b;
	}

.fight-stick .trigger-button,
/**/.fight-stick .triggers,
/**/.fight-stick .trigger-button.left,
/**/.fight-stick .trigger-button.right,
/**/.fight-stick .trigger-button.left.pressed,
/**/.fight-stick .trigger-button.right.pressed,
/**/.fight-stick .trigger-button.pressed,
.fight-stick .button,
.fight-stick .bumper,
.fight-stick .bumpers,
.fight-stick .bumper.left,
.fight-stick .bumper.left.pressed,
.fight-stick .quadrant,
.fight-stick .arrows ,
.fight-stick .back,
.fight-stick .start ,
.fight-stick .back.pressed,
.fight-stick .start.pressed {
	visibility: hidden;
	}

.fight-stick .button.pressed,
.fight-stick .bumper.pressed {
	transform: translateY(0px);
	-webkit-filter: invert(0);
	visibility: visible;
	}